matplotlib==3.4.2
nltk==3.8
numpy==1.19.5
pandas==1.2.4
Random_Word==1.0.10
scikit_learn==1.2.0
seaborn==0.12.2
spacy==3.0.6
en_core_web_md==3.0.0
stemming==1.0.1
transformers
torch
accelerate
pylev
sentence-transformers
Unidecode==1.3.6
